<div class="row" *ngIf="movie">
    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{ movie?.title }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://image.tmdb.org/t/p/w400{{movie?.poster_path}}" alt="Image">
        </mat-card>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Average Vote: {{movie?.vote_average}} / 10 from {{movie.vote_count}} Votes
                </mat-card-title>
                <mat-card-subtitle>{{movie.overview}}</mat-card-subtitle>

            </mat-card-header>
            <mat-card-content>
                <ul class="furtherDetails">
                    <li>
                        <h3>Release State: {{movie.status}}</h3>
                    </li>
                    <li>
                        <h3>Release Date: {{movie.release_date}}</h3>
                    </li>
                    <li>
                        <h3>Runtime: {{movie.runtime}} mins</h3>
                    </li>
                    <li>
                        <h3>Adult Content: {{movie.adult}}</h3>
                    </li>
                </ul>
                <ul class="furtherDetails">
                    <h3>
                        Genres:
                        <span *ngFor="let genre of movie.genres">
                            {{genre.name}}
                        </span>
                    </h3>
                </ul>
            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" [routerLink]="['/']" >Go Back</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>