<div class="row">
    <div class="col-6">
        <mat-form-field>
            <mat-label>Sort By</mat-label>
            <mat-select>
                <mat-option value="avgVote" (click)="sort('vote_average')">Average Vote</mat-option>
                <mat-option value="title" (click)="sort('title')">Title</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-6">
        <button (click)="test()"> test</button>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let movie of movieList">
        <app-movie-item [movie]="movie"></app-movie-item>
    </div>
</div>
<div class="row">
    <div class="card-footer pb-0 pt-3">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                <a routerLink [queryParams]="{ page: 1 }" class="page-link">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                <a routerLink [queryParams]="{ page: pager.currentPage - 1 }" class="page-link">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
                <a routerLink [queryParams]="{ page: page }" class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                <a routerLink [queryParams]="{ page: pager.currentPage + 1 }" class="page-link">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                <a routerLink [queryParams]="{ page: pager.totalPages }" class="page-link">Last</a>
            </li>
        </ul>
    </div>
</div>