<div class="row">
    <div class="col-6">
        <mat-form-field>
            <mat-label>Sort By</mat-label>
            <mat-select>
                <mat-option value="avgVote" (click)="sort('vote_average')">Average Vote</mat-option>
                <mat-option value="title" (click)="sort('title')">Title</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-6">
        
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let movie of movieList">
        <app-movie-item [movie]="movie"></app-movie-item>
    </div>
</div>
